<div class="container mt-5">
  <h2 class="text-center mb-4">All Products</h2>

  <div class="input-group mb-4">
    <input type="text" class="form-control" placeholder="Search for products..." [(ngModel)]="searchQuery" (input)="filterProducts()">
  </div>

  <div *ngIf="filteredProducts.length > 0; else noResults" class="row">
    <div *ngFor="let product of filteredProducts" class="col-md-4 mb-4">
      <div class="card shadow-sm" (click)="viewProduct(product._id)">
        <div class="position-relative">
          <img [src]="product.images[0]" alt="{{ product.name }}" class="card-img-top">
          <span *ngIf="product?.priceAfterDiscount" class="badge bg-danger position-absolute top-0 start-0 m-2">Sale</span>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            <span class="fw-bold">Price: </span>
            <span *ngIf="product?.priceAfterDiscount" class="text-decoration-line-through text-muted">${{ product.price }}</span>
            <span class="fw-bold text-success">${{ product.priceAfterDiscount || product.price }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noResults>
    <p class="text-center text-muted">No products found.</p>
  </ng-template>
</div>

<ng-template #loading>
  <p class="text-center text-muted">Loading products...</p>
</ng-template>
